{% extends "::baseProfil.html.twig" %}

{% block body %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Mon compte</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- personalcare --->
	<div class="products">
		<div class="container">
		<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Mon compte</h2>
					<ul class="cate">
						<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>  Profil</a></li>
						<li><a href="#"><i class="fa fa-product-hunt" aria-hidden="true"></i>  Mes Produits</a></li>
						<li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i>  Alertes</a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>  Favoris</a></li>
							
						
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
                            <div class="categories">
                                
                                test
                            </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- personalcare --->
{% endblock %}