{% extends "::base.html.twig" %}
{% block body %}
    <!-- main-slider -->
    <ul id="demo1">
        <li>
            <img src="images/ng3.jpg" alt="" />
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3>Acheter des biens immobiliers en ligne avec nous</h3>
            </div>
        </li>
        <li>
            <img src="images/22.jpg" alt="" />
            <div class="slide-desc">
                <h3>Vendre des biens immobiliers en ligne avec nous</h3>
            </div>
        </li>

        <li>
            <img src="images/44.jpg" alt="" />
            <div class="slide-desc">
                <h3>Louer des biens immobiliers en ligne avec nous</h3>
            </div>
        </li>
    </ul>
    <!-- //main-slider -->
{% endblock %}
